body{
	background-image: url("../img/ausss.jpg");
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: right top;
	background-attachment: fixed;
}

.second-page{
	font-size: 30px;
	font-family:'Pacifico', cursive;
	margin-left: 500px;
	margin-bottom: 500px;
}