html{
	height: 100%; 
}	
body{
	background-color: #72a3e2;
	font-family: 'Varela Round', sans-serif;
}

body{
	background-image: url("../img/treee.jpg");
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: right top;
	background-attachment: fixed; 
	
}

.index-body{
	height: 100%;
}
.profile-image{
	max-width: 100%
}

h4{
	font-size: 30px;
	font-family: "courier new";
	color: navy
}

body{
	font-size: 15px;
}

.giraffe{
	margin-top: 20px;
	max-width: 100%;
}

.card{
    margin-top: 20px;
}

h4{
	margin-top: 15px;
}

.main-heading{
	margin-left: 140px;
	font-family: "courier new";
	font-size: 40px;
}

.giraffe{
	margin-top: 20px;
}

.map{
	margin-top: 20px;
	width: 100%
}

.card-block{
	background-color: #bacfd2;
}
.jumbotron{
	background-image: url("../img/skyy.jpg");
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	height: 100%;
	

}

.homepage-nav{
	background-color: #e16879;
}

.display-3{
	margin-top: 100px;
	font-family: 'Roboto Slab', serif;
	font-size: 100px;
}



